<p>todo-update works!</p>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3>Yapılacak İş Güncelleme</h3>
            <hr>
           

                <form [formGroup]="todoForm" (ngSubmit)="updateTodo()" class="form-group">
                    <div class="mt-3">
                        <label for="content" class="form-label">İçerik Bilgisi</label><br>
                        <textarea class="form-control" name="content"  formControlName="content" cols="30" rows="10"></textarea>
                    </div>
                    <button class="btn btn-sm btn-warning">Güncelle</button>
                </form>

        </div>
    </div>
</div>
